/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Arrière-plan */
body {
  background: rgb(201, 151, 160);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Carte centrale */
.container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 380px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Titre */
h1 {
  position: absolute;
  top: 20px;
  right: 40px;
  color: #540b5f;
}

/* Texte profil */
p {
  font-size: 16px;
  margin: 12px 0;
  color: #374151;
}

/* Nom des champs */
strong {
  color: #573411;
}

/* Effet hover carte */
.container:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}
.p1 {
  color: rgb(218, 97, 151);
  font-weight: bold;
}
